/* Is the pizza background. Makes sure it is one image, streatched to meet screen size.*/
html {
  background-image: url("/assets/pizza-background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

/* Header of Modal */
.modal-card-head {
  display: flex;
  text-align: center;
  align-items: center;
}

/* Body of Modal */
.modal-card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/* Footer of Modal */
.modal-card-foot {
  display: flex;
  justify-content: center;
}

/* Top Header of page */
#landing-page-header {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px;
  color: #f0ea48;
  background-color: #f04a60;
  border-radius: 5px;
  text-align: center;
}

/* Scroll wheel in Passed Tile */
#noChoice {
  overflow-y: auto;
}